@import '@fontsource/manrope';
@import '@fontsource/jetbrains-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --r-main-font: 'Manrope';
    --r-heading-font: 'Manrope';
    --r-code-font: 'JetBrains Mono';
    --r-link: aqua;
    --r-link-hover: aqua;
}